.navbar {
  box-shadow: 2px 2px 5px rgb(70,28,113);
  opacity: 0.9;
  background-color: #fff; }
  .navbar .nav-item {
    font-size: 1.3rem;
    padding-right: 1.2rem; }

#showcase {
  background: linear-gradient(rgb(70,28,113, 0.8), rgba(70,28,113, 0.8)), url("../img/mountains.jpg");
  background-size: cover;
  background-repeat: none;
  min-height: 50vh;
  overflow: hidden;
 }

 .logo-text {
   font-size: 1.3rem;
 }

 .bg-primary {
   background: rgb(70,28,113) !important;
 }

 .text-primary {
  color:rgb(70,28,113) !important;
 }

 .btn-primary {
   background: rgb(70,28,113) !important;
 }

 .card {
   border-color: rgb(70,28,113) !important;
 }

  #showcase h1 {
    font-weight: 700;
  }

.about {
  width: 100%;
}

.boxes h3 {
  font-size: 1.4rem;
}

.about p {
  font-size: 1.2rem;
  line-height: 1.6;
  font-weight: 500;
}

.info-header {
  width: 50%;
  margin: auto;
  border-bottom: 1px #ddd solid; }

#authors img {
  margin: -50px; }

#authors .card {
  transition: all 0.1s linear; }

#authors .card:hover {
  background: rgb(70,28,113);
  color: #fff; }


.gallery .card img {
  max-height: 185px;
  overflow: hidden;
}
#authors .fab {
  color: #fff; }

  .img {
    height: 110px;
    width:110px
  }
@media (max-width: 768px) {
  #showcase .py-5 {
    padding-bottom: 10px !important; }
  #showcase h1 {
    font-size: 2rem; 
  
  }

  .logo-text {
    font-size: 1.2rem;
  }
 

  .lead {
  font-size: 1rem !important;
  }

  #showcase .btn {
    font-size: 1rem;
  }

  .mb-resp {
    margin-bottom: 1rem; 
  } 

  .info-header {
    width: 90%;
    margin: auto;
    border-bottom: 1px #ddd solid; }
  
.card-2 {
  margin-top: 50px;
}




}
